<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How did you get here?</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <h1>Sorry!</h1>
    <p>I'm not sure how you ended up here, but I wasn't expecting it. So, there's nothing here. How did you get here? Why are we all here? Does anything even matter?</p>
</body>
</html>